# Windows 默认：磁盘 CRLF，仓库 LF（由 core.autocrlf=true 控制）
*.cpp    text
*.h      text
*.hpp    text
*.c      text
*.cs     text
*.py     text
*.lua    text
*.ini    text
*.toml   text
*.json   text
*.md     text
*.uproject text
*.uplugin  text
*.Build.cs  text
*.Target.cs text

# UE 二进制资源
*.uasset binary
*.umap   binary

# 脚本文件
*.sh     text
*.ps1    text